[
  {
    "_id": "{{_id}}",
    "_type": "search",
    "_source": {
      "columns": [
        "_source"
      ],
      "description": "{{description}}",
      "hits": 0,
      "kibanaSavedObjectMeta": {
        "searchSourceJSON": "{{searchSourceJSON}}"
      },
      "sort": [
        "@timestamp",
        "desc"
      ],
      "title": "{{title}}",
      "version": 1
    }
  }
]